body{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "a h c"
    "a b c"
    "a b c";
    background-color: #FFFFFF;
}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: -999;
    padding: 50px;
    text-align: center;
    font-size: 150px;
    margin-bottom: -70px;
    }

    .normal-mask {
        -webkit-mask-image: url("img/header_background.png");
        mask-image: url("img/header_background.png"));
        -webkit-mask-position: center center;
        mask-position: center center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }
header{
   grid-area: h;
}

article{
    grid-area:b;
    
}
section{
  display: block;
  margin-top: 30%;
  grid-area: b;
  text-align: center;
}
#buttons {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 17%;
  
  
}
ul{
  display: inline;
}
li{
  margin: 0%;
  display: inline;

}
li a{
  padding:1% 5% 1% 5%;
  background-color: #EDFF41;
  border: 1px green solid;
  text-decoration: none;
  font-weight: bold; 
  color:black; 
}
